@{
    ViewBag.Title = "ورود به سیستم";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ورود به سامانه ی مدیریت اندیکابور</h4>
        <hr />
        @if (ViewBag.Message != null)
        {
            <span class="text-danger">
                @ViewBag.Message
            </span>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" class="form-control" name="Username" placeholder="نام کاربری" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="password" class="form-control" name="Password" placeholder="کلمه ی عبور" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ورود به سیستم" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




