@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    دانشگاه صنعتی شریف<br />
    تهران<br />
    خیابان آزادی<br />
    <abbr title="Phone">P:</abbr>
    021.6601.3126
</address>

<address>
    <strong>ایمیل:</strong>   <a href="mailto:prm@sharif.ir">prm@sharif.ir</a><br />
    <strong>تیم دکتر حسابی:</strong> <a href="mailto:Dr.Hesaabi.Service@gmail.com">Dr.Hesaabi.Service@gmail.com</a>
</address>