@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>اندی کا بار</h1>
    <p class="lead">اندی کا بار سامانه ای برای ...<p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">بیشتر بدانید &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>مارتون موبایل دانشگاه شریف</h2>
        <p>ماراتون برنامه نویسی تلفن همراه دانشگاه صنعتی شریف از سال ۱۳۹۳ تا کنون به لطف خداوند بزرگ هر ساله برگزار شده است. دانشگاه صنعتی شریف  همواره سعی در بهبود شرایط برگزاری ماراتن دارد. مجموعه شریف آنچه که سال های گذشته به عنوان بازخورد دریافت کرده اند را به نحوی به کار خواهند بست، تا سال به سال شاهد بهتر و بالنده تر شدن ماراتون برنامه نویسی تلفن همراه دانشگاه صنعتی شریف باشد.اما اعمال تغییرات یکباره و ناگهانی باعث برهم خوردن ذهنیت و تجربه شرکت کننده هایی خواهد شد که از قبل در مورد ماراتن مطالعه کرده و با علم به آنچه قرار است اتفاق بیفتد در آن شرکت می کنند. دانشگاه صنعتی شریف سعی دارد تا شناخت و آشنایی قبلی شرکت کننده ها از آنچه با آن روبرو می شوند را حفظ کند بنابراین تغییرات سال به سال و به صورت جزیی اعمال خواهد شد.</p>
        <p><a class="btn btn-default" href="http://mpm.sharif.ir/" >بیشتر بدانید &raquo;</a></p>
    </div>
</div>