@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>اندی کا بار</h1>
    <p class="lead">با بارکد و یه گوشی اندرودیدی اندیکاتور خودت باش!<p>
    <p><a href="https://github.com/dr-hesaabi" class="btn btn-primary btn-lg">ما در گیت هاب &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>قصه ایده</h2>
        <p>
            این سامانه با تولید  بارکدهایی که قابلیت پرینت بر روی محصولات فیزیکی دارند به صاحبان فروشگاه ها اجازه میدهد تا از اطلاعات بدست آمده از رهگیری محصول در فرآیند تولید ، توزیع و فروش ، خرید های انبار خود را هدفمند انجام داده و سود آوری خود ر ا افزایش دهند . همچنین این نرم افزار قابلیت اطلاع رسانی و تبلیغ محصولات را با سهولت بیشتر دارا خواهد بود .
        </p>
    </div>
    <div class="col-md-4">
        <h2>هوش تجاری</h2>
        <p>
            داده هایی که کاربر به سامانه بر میگرداند میتواند پس از پالایش با استفاده از هوش تجاری ، بازار  فرویش محصولات را بهینه سازی کند و این فرآیند در نهایت پس از افزایش میزان داده ها ، مرجعی برای خرید و توزیع هوشمندانه تر هر فروشگاه باشد .
        </p>
    </div>
    <div class="col-md-4">
        <h2>مارتون موبایل دانشگاه شریف</h2>
        <p>ماراتون برنامه نویسی تلفن همراه دانشگاه صنعتی شریف از سال ۱۳۹۳ تا کنون به لطف خداوند بزرگ هر ساله برگزار شده است. دانشگاه صنعتی شریف  همواره سعی در بهبود شرایط برگزاری ماراتن دارد. مجموعه شریف آنچه که سال های گذشته به عنوان بازخورد دریافت کرده اند را به نحوی به کار خواهند بست، تا سال به سال شاهد بهتر و بالنده تر شدن ماراتون برنامه نویسی تلفن همراه دانشگاه صنعتی شریف باشد.اما اعمال تغییرات یکباره و ناگهانی باعث برهم خوردن ذهنیت و تجربه شرکت کننده هایی خواهد شد که از قبل در مورد ماراتن مطالعه کرده و با علم به آنچه قرار است اتفاق بیفتد در آن شرکت می کنند. دانشگاه صنعتی شریف سعی دارد تا شناخت و آشنایی قبلی شرکت کننده ها از آنچه با آن روبرو می شوند را حفظ کند بنابراین تغییرات سال به سال و به صورت جزیی اعمال خواهد شد.</p>
        <p><a class="btn btn-default" href="http://mpm.sharif.ir/">بیشتر بدانید &raquo;</a></p>
    </div>
</div>